/* change font and color */
body{
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(175, 171, 171);
    color: grey;
    background-image: url("../images/cement.jpg");
    line-height: 1.5;
    margin: 0;
}

.navbar {
  padding:0 30px;
}

#logo{
    background-color: cadetblue;
    color: white;

}

/* Set border line in container */
.container{
    border:1px solid gray;
    padding: 20px;
    margin-top: 5px;
    background-color: white;
}

/* underline div */
.underline{
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    length: auto;
}

/* Portfolio - container to fix pics */
#containersmall{
    width: fit-content;
    height: auto;
    text-align: center;
}

#portfoliopics{
    height: 150px;
    width: 150px;
}

h5{
    position: absolute;
    bottom: 20px;
    width: 90%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 15px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;

  }

/* sticky footer on bottom and center copyright */
#footer {
    /* position: sticky;     */
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: grey;
    text-align:center;
    color:black;
    border-top: 5px solid rgb(7, 182, 182);
}
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }
  .wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: purple;
  }
  .wrapper {
    width: 600px;
  }
}
